body {
  background: #f3f3f3;
}

#button-grid {
  list-style: none;
  margin: 0;
  padding: 0;
}

.icon {
  display: block;
  font-size: 4.1em;
  filter: grayscale(100%);
}

#header {
  margin: 20px 0 30px;
}


.button {
  margin-bottom: 15px;
  margin-top: 15px;
}

button.action-button {
  font-family: Futura, "Century Gothic", CenturyGothic, AppleGothic, "Trebuchet MS", Arial, sans-serif;
  color: #333;
  min-height: 185px;
  background: #fff;
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

button.action-button:hover {
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   background: #a25a99;
}

button.action-button:hover span.icon {
  opacity: 0.7;
}

body.loading button.btn:not(:disabled):not(.disabled) {
  cursor: default;
}

#title-contain {
  padding: 20px 20px 20px 100px;
  background: url(brainz-small.png) left center no-repeat;
  background-size: contain;
  position: relative;
}

#throbber {
  position: absolute;
  top: 40px;
  left: 43px;
  background: url(monkey-magic-1.gif) center center no-repeat;
  width: 150px;
  height: 0px;
}

.loading #throbber {
  height: 82px;
}

h1, h2, h3 {
  font-family: Cambria, Georgia, serif;
  font-size: 1.8em;
  margin: 0;
}

h1 span, h2, h3 {
  font-weight: bold;
}

h2 span, h3 span {
  font-weight: normal;
}

h2, h3 {
  font-size: 0.7em;
}
h2 {
  margin-bottom: 10px;
}

#last-status {
  margin: 10px 0;
  padding: 10px;
  background: #fff;
  border: 1px solid #777;
  border-radius: 5px;
}

#last-status.error {
  border-color: #f00;
  color: #f00;
}
