<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />

  <title>Office Sign Status Changer</title>
  <meta name="description" content="Office Sign Status Changer" />
  <meta name="author" content="Greg Morris, @MrBrainz" />

  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/style.css" />

</head>
<body class="loading">
  <div id="bodywrapper">
    <header id="header">
      <div class="container">
        <div class="row">
          <div class="col-md-9" id="title-contain">
            <h1 id="title"><span>BrainZ</span> Office Status Indicator</h1>
            <div id="throbber"></div>
          </div>
          <div class="col-md-3">
            <div id="last-status">
              <h2>Last Status: <span id="last-status-title"></span></h2>
              <h3>Time Sent: <span id="last-status-time"></span></h3>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <div id="control-grid">
      </div>
    </div>
  </div>
  <script type="text/javascript" src="js/sign.js"></script>
</body>
</html>
